/* Home.css */
.gradient-text-light {
  font-size: 80px;
   font-family: 'Blanka', sans-serif;
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: rgb(167, 87, 87);
  background: linear-gradient(90deg, #f12711, #f5af19);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-text-dark {
  font-size: 80px;
  font-family: 'Blanka', sans-serif;
  
  background: linear-gradient(90deg, #f5af19, #f12711);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-text2-light {
  background: linear-gradient(90deg, #070A52, #F15A59);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-text2-dark {
  background: linear-gradient(90deg, rgb(184, 175, 173), rgb(84, 80, 80));

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}